body{
    color: black;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
#menuVertical a{
    color: aliceblue;
}
#menuVertical nav li:hover{
    background: #636363;
}
#menuVertical{
    background-color: #424242;
}
#menuVertical nav li{
    display: inline-block;
    height: 35px;
    width: 100px;
    text-align: center;
    padding-top:10px;
}
#menuHorizontal a{
    color: rgb(0, 0, 0);
}
#menuHorizontal{
    background-color: #f0f0f0;
    float: left;
    height: 500px;
}
#menuHorizontal nav li{
    display: block;
    height: 30px;
    width: 100px;
    text-align: centnoneer;
    padding: 10px;
}
#conteudo{
    font-family: 'Libre Franklin', sans-serif;
}